.header {
  //width: 100%;
  height: 80px;
  //background: red;
  padding: 24px 0 16px 0;
  text-align: center;


    // .menuUserBtn
    // {
    //     &:hover
    //     {
    //         background-color: $gray-hr;
    //     }
    // }
    .menuUserItems
    {
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in-out;
        transform: translateY(100%);

        &.isVisible
        {
            opacity: 1;
            visibility: visible;
            transition: all 0.15s ease-in-out;
            transform: translateY(105%);
        }
    }

    .appTitle
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      color: black;
      opacity: .5;
      font-family: blickextrabold;
      font-weight: 700;
      
    }
  
}
