.blackOverlay {
  position: fixed;
  inset: 0;
  // visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  z-index: 40;
  transition: all 0.15s;
  visibility: hidden;

    &.isVisible {
        visibility: visible;
        opacity: 1;
        transition: all 0.15s;
    }
}
