@import './styles/_variables';
@import './styles/_fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;





:root 
{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
      
}

html 
{
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%
}

body
{
  height: 100%;
}

#root
{
  height: 100%;
}

.App 
{
    width: 100%;
    height: 100%
}




// menu action
// .menu-actions
// {
//   button 
//   {
//     img 
//     {
//       opacity: .3
//     }
//   }
// }



// CUSTOM CLASSES
.border-blick {
  border-color: $blick;
}

.text-blick
{
    color: #E2271B;
}


// STATES


@layer components {

  .label {
    @apply block text-base text-black font-normal mb-2;
  } 

  .minilabel {
    @apply block text-sm text-black mb-2;
  }

  .field {
    @apply w-full h-12 rounded-md border px-4 mb-6;
  }

}

// COMPONENTS???
#menu-new
{
  #menu-new-btn
  {
    &:hover
    {
      background-color: darken($blick, 5%);
    }
  }

  #menu-new-items
  {
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    transform: translateY(-100%);

    &.isVisible
    {
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
      transform: translateY(-105%);
    }
  }
}

#menu-actions
{
  #menu-actions-btn
  { 
    //  img
    //  {
    //    opacity: .3;
    //  }

      
  }

  #menu-actions-items
  {
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
    // transform: translateY(-100%);
    transform: translateX(10px);

    &.isVisible
    {
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
      transform: translateX(0px);
    }
  }
}

// .elem-list-item {

//     &:hover
//     {
//         #menu-actions-btn
//         {
          
//                 img
//                 {
//                     opacity: 1 !important;
//                 }
           
//         }
//     }

// }

.btn-primary
{
    background-color: $blick;
    font-family: Inter;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    

    &:hover
    {
        background-color: darken($blick, 5%);
    }
}

.btn-secondary
{
    //font-family: Inter;
    //font-size: 16px;
    //color: $blick;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 00;
    font-family: Inter;
    font-weight: 400;

    &:hover
    {
        background-color: lighten($blick, 52%);
    }
}

.btn-form
{
    background: white;
    //border: 1px solid #D1D5DB;
    color: rgb(118, 118, 118);
    font-size: 1rem;
    padding: 0;
    aspect-ratio: 1 / 1;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:disabled
    {
        color: rgb(118, 118, 118, .4);
        cursor: not-allowed;
    }

    &:hover
    {
        background: darken(white, 5%);
    }

    &.btn-delete
    {
        color: $blick;
        //background: $blick; // rouge

        // &:hover
        // {
        //     background: darken($blick, 5%);
        // }
    }
}




